<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.api.dao.UserGradeMapper" >
  <resultMap id="BaseResultMap" type="com.example.api.entity.UserGrade" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="level_id" property="levelId" jdbcType="INTEGER" />
    <result column="exam_time" property="examTime" jdbcType="TIMESTAMP" />
    <result column="exam_grade" property="examGrade" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, level_id, exam_time, exam_grade
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_grade
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_grade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.api.entity.UserGrade" >
    insert into user_grade (id, user_id, level_id, 
      exam_time, exam_grade)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{levelId,jdbcType=INTEGER}, 
      #{examTime,jdbcType=TIMESTAMP}, #{examGrade,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.api.entity.UserGrade" >
    insert into user_grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="levelId != null" >
        level_id,
      </if>
      <if test="examTime != null" >
        exam_time,
      </if>
      <if test="examGrade != null" >
        exam_grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null" >
        #{levelId,jdbcType=INTEGER},
      </if>
      <if test="examTime != null" >
        #{examTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examGrade != null" >
        #{examGrade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.api.entity.UserGrade" >
    update user_grade
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="levelId != null" >
        level_id = #{levelId,jdbcType=INTEGER},
      </if>
      <if test="examTime != null" >
        exam_time = #{examTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examGrade != null" >
        exam_grade = #{examGrade,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.api.entity.UserGrade" >
    update user_grade
    set user_id = #{userId,jdbcType=INTEGER},
      level_id = #{levelId,jdbcType=INTEGER},
      exam_time = #{examTime,jdbcType=TIMESTAMP},
      exam_grade = #{examGrade,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>